body {
	font-family: helvetica;
	background-color: black;
	color: rgba(0, 0, 0, 0.9);

}

#container {
	background-color: #8AA2A9;
	border:solid white;
	border-radius: 30px;
	width: 800px;
	height: 500px;
	margin: 30px auto;
	padding: 10px 0px;

}

h1 {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: lighter;
	text-align: center;
	font-size: 35px;
	text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3); 

}
div {
	font-size: 40px;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 45px;
	letter-spacing: 5px;
}

#points {
	margin: auto;
	/*box-sizing: border-box;*/
	width: 250px;
	height: 100px;
	text-align: center;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
  	grid-template-rows: 2fr 1fr;
}
span {
	font-size: 70px;
}
.u {
	font-size: 15px;
	margin-bottom:10px;
	

}
.c{
	font-size: 15px;
	align-items: start;
	grid-column: 3 ;
}

.legend,#alert {
	font-size: 40px;
	margin-top: 15px;
	letter-spacing:5px;
	text-transform: uppercase;
}

.legend-lose {
  color: rgb(225, 88, 73);
  
}
.legend-win {
  color: rgb(85, 139, 47);

}
button{
	font-size: 45px;
	width: 70px;
	height: 70px;
	border-radius:100%;
	margin:5px;
	background-color: #717C89;
	border:solid #717C89;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); 
}

button:hover{
	cursor:pointer;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); 
}
