*{
	margin:0;
	padding:0;

}
body {
	font-family: helvetica;
	background-color: #383A3F;
	color:#E5E5E5;
}

div.main-card{
	
	max-width: 430px;
	height:500px;
	margin:auto;
	margin-top:30px;
	background-color: #1F2124;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
  	border-radius: 5px;

}
h1 {
	font-weight: lighter;
	text-align: center;
	padding-top: 20px;
	color: #F6B352;
}
div.add{
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 230px;
	margin:auto;
	
}
h2 {
	font-weight: lighter;
	text-align: left;
	margin: 25px 0 5px 0;
	color: #F6B352;
}
#balance{
	display: flex;
	font-weight: lighter;
	margin:auto;
	color: #FFFFF1 ;
	margin-top:40px;
	margin-bottom:4px;
	max-width: 230px;
}
#balance p{
	text-align: left;
	margin-right: 10px;

}

div#income-expense{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin:auto;
	max-width: 230px;
	height: 50px;
	font-size: 15px;
	background-color: #E5E5E5;
	color:#000;
	padding:5px;
	border-radius: 3px;
	border:2px #E5E5E5 solid;
	box-shadow: 1px 1px 0px #999,         
                
}

div#income-expense #income{
border-right:2px solid #999;

}

div#income-expense #income span{
color:#38b000;
font-weight: bold;
}

div#income-expense #expense span{
color:#d90429;
font-weight: bold;
}

form div.labels{
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 7px;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin:auto;
	max-width: 150px;
	font-size: 15px;
	color: #FFFFF1 ;

}

div.labels input{
	background-color: #E5E5E5;
	padding:5px;
	border-radius: 3px;
	border:2px #E5E5E5 solid;
	box-shadow: 1px 1px 0px #999,
                2px 2px 0px #999,
                3px 3px 0px #999,
                4px 4px 0px #999,
                5px 5px 0px #999,
                6px 6px 0px #999;
}

div.btn{
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 230px;
	margin:auto;
	margin-top:20px;
	
}

div.btn button {
	border-radius: 5px;
	border: 1px #141414 solid;
	padding: 10px 15px;
	width: 170px;
	background-color: #F6B352;
	box-shadow: rgba(0,0,0,0.9);
  	transition: all 200ms ease-in-out;
    text-decoration: none;
	font-size: 15px;
	color: white;
}

div.btn button:hover{
 background: #F68657;
}

div.main-tables{
	display: grid;
	max-width: 430px;
	height:auto;
	margin:auto;
	margin-top:30px;
	margin-bottom: 30px;
	background-color: #1F2124;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
  border-radius: 5px;
}

table#expenseTable th{
	color:#F6B352;
	font-weight: lighter;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 0.8rem 0.1rem;
	/*max-width: 430px;*/
	margin-top:2rem;
	border-collapse:collapse;
	border-spacing: 0;
}

table#expenseTable{

	text-align: right;
	border-collapse:collapse;
	border-spacing: 0;
	
	
}

table#expenseTable td{

	text-align: center;
	font-size:12px;
	padding:5px;
	
}

table#expenseTable tbody tr:nth-child(even){
	background:#575757;
}

button.deleteButton, button.editButton {
	
	border-radius: 5px;
	border: 1px #141414 solid;
	margin-bottom: 3px;
	height:15px;
	width:18px;
	background-color: #F6B352;
	box-shadow: rgba(0,0,0,0.9);
  	transition: all 200ms ease-in-out;
    text-decoration: none;
	font-size: 12px;
	color: white;
}


button.deleteButton{
	border-radius: 5px;
	border: 1px #141414 solid;
	margin-bottom: 3px;
	height:13px;
	width:18px;
	background-color: #F6B352;
	box-shadow: rgba(0,0,0,0.9);
  	transition: all 200ms ease-in-out;
    text-decoration: none;
	font-size: 8px;
	color: white;
}

button.deleteButton:hover{
 background: #F68657;
}

.btn p{
	position:absolute;
	left:470px;
	margin-top: 20px;
	font-size: 15px;
	color:red;
}